<md-sidenav-layout>
  <md-sidenav #right align="end" layout-padding id="sidenav">
    <!--mode="side"-->
    <div *ngIf="user">
      <!--Sidenav Profile Zone-->
      <div class="sidenav-profile">
        <div class="sidenav-profile-pic">
          <img src="{{ user.profile.picture }}">
        </div>
        <p>{{ user.profile.first_name }} {{ user.profile.last_name }}</p>
        <p>{{ user.profile.school }}</p>
      </div>
      <!--Buttons-->
      <div class="sidenav-buttons">
        <a md-button>
          <md-icon fontIcon="tuxicon-speaker"></md-icon>
          Announcements
        </a>
        <a md-button>
          <md-icon fontIcon="tuxicon-console"></md-icon>
          Terminal
        </a>
        <a md-button [href]="'/account/' + userId">
          <md-icon fontIcon="tuxicon-cog"></md-icon>
          Settings
        </a>
        <a md-button (click)="right.toggle(); tuxLogout()">
          <md-icon fontIcon="tuxicon-window"></md-icon>
          Logout
        </a>
      </div>
    </div>
  </md-sidenav>
  <md-content class="page-content">
    <div class="page-content-wrapper">
      
      <!-- Main Toolbar -->
      <div class="tux-toolbar">
        <!--Large Screen Width-->
        <md-toolbar class="large" *hideItBootstrap="['xs']">
          <div class="wrapper">
            <!-- Logo -->
            <div class="tux-toolbar-logo">
              <a href="/">
              <img src="/assets/logo/v1.dark.png" />
              </a>
            </div>
            <!-- Navigation -->
            <div class="tux-toolbar-nav">
              <a md-button href="/"> Dashboard </a>
              <a md-button href="/explore"> Explore </a>
              <a md-button href="/"> Courses </a>
              <a md-button href="/instructor">*Become Instructor*</a>
            </div>
            <span flex></span>
            <!-- Profile Dropdown -->
            <div class="tux-toolbar-profile " (click)="right.toggle()" *ngIf="user">
            <img class="tux-toolbar-profile-pic" src="{{ user.profile.picture }}">
            <div class="tux-toolbar-info">
              <h1> {{ user.profile.first_name }} {{ user.profile.last_name }}</h1>
              <h2> {{ user.profile.school }} </h2>
            </div>
            <div class="tux-toolbar-menu">
              <md-icon fontIcon="tuxicon-down"></md-icon>
            </div>
          </div>
          <div *ngIf="!user" class="tux-toolbar-login">
            <a md-button href="/login">Login</a>
          </div>
      </div>
      </md-toolbar>
      <!--Small Screen Width-->
      <md-toolbar class="small" *showItBootstrap="['xs']">
        <div class="mobile-toolbar-buttons">
          <a href="/"><md-icon fontIcon="tuxicon-home"></md-icon></a>
          <a href="/explore"><md-icon fontIcon="tuxicon-wire"></md-icon></a>
          <a href="/"><md-icon fontIcon="tuxicon-book"></md-icon></a>
          <a (click)="right.toggle()" *ngIf="user">
            <md-icon fontIcon="tuxicon-person"></md-icon>
          </a>
          <a href="/login" *ngIf="!user">
            <md-icon fontIcon="tuxicon-enter"></md-icon>
          </a>
        </div>  
      </md-toolbar>
      
    </div>
    
    <!-- Course Toolbar -->
    <div id="course-toolbar">
      <md-toolbar class="md-medium-tall">
        <div class="wrapper">
          <!-- Navigation -->
          <div class="course-toolbar-nav">
            <a md-button href="/course" class="home-button" id="toolbar-course">Home</a>
            <a md-button href="/labs" id="toolbar-labs">Labs</a>
            <a md-button href="/grades" id="toolbar-grades">Grades</a>
          </div>
        </div>
      </md-toolbar>
    </div>
    <!-- Page -->
    <div class="tux-content" id="tux-content">
      <router-outlet></router-outlet>
    </div>
    </div>
    <footer md-toolbar id="tux-footer">
      <div class="wrapper">
        <span flex></span>
        <p>&copy; 2016 Tuxlab</p>
        <a md-button href="/terms">Terms</a>
        <a md-button href="/privacy">Privacy</a>
      </div>
    </footer>
  </md-content>
</md-sidenav-layout>