<div class="tuxlab-markdown">
	<!-- Toolbar -->
	<div class="markdown-toolbar">
		<md-toolbar>
			<div class="wrapper">
				<!-- Navigation -->
				<div class="markdown-toolbar-nav">
					<a href="/labs" class="markdown-back-link">
						<md-icon fontIcon="tuxicon-left"></md-icon>
					</a>
				</div>
				<p class="text-center markdown-task-name">Task Name Here</p>
				<div>
					<p>3/10</p>
				</div>
			</div>
		</md-toolbar>
	</div>

	<!--Markdown-->
	<div class="markdown-content">
		<div id="task-markdown">Task loading...</div>
		<div class="markdown-check-button">
			<md-dialog #alert>
				<md-dialog-title>Score: 3/10</md-dialog-title>
				Truth be told you may fail the course, perhaps drop it
				while you can?
				<md-dialog-actions ok="Fine"></md-dialog-actions>
			</md-dialog>
			<button md-raised-button (click)="alert.show()">
				Check
				<md-icon fontIcon="tuxicon-tick"></md-icon>
			</button>
		</div>
	</div>
</div>
