<div class="course_list" fxLayout fxLayoutAlign="center flex-start">

  <!-- Course List (*ngFor="let course of courses") -->
  <md-grid-list cols="2" rowHeight="200px">
    <md-grid-tile>
      <md-card>
        <!-- Header Information -->
        <md-card-header>
          <md-card-title>Great Practical Ideas for Computer Scientists</md-card-title>
          <md-card-subtitle>Tom Cortina</md-card-subtitle>
        </md-card-header>

        <!-- Action Buttons -->
        <md-card-actions>
          <button md-button>
            <md-icon>class</md-icon>
            View Course
          </button>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
