@import '../../../../node_modules/@angular/material/theming';
@import '../app.theme';

div.tuxlab-login{
  height: 80vh;
  position: relative;

  div.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;

    background-color: #fff;

    h1 {
      width: 100%;

      padding:20px 0px;
      background-color: mat-color($tuxlab-app-primary);

      color: #fff;
      text-align: center;
      font-weight: 300;
      font-size: 40px;
      margin-bottom:40px;
    }

    h2 {
      text-align: center;
      font-weight: 300;
      font-size: 25px;
    }

    button{
      margin: 0px 10px;
      font-size: 16px;

      md-icon{
        font-size: 16px;
        line-height: 22px;
        margin-right: 5px;
      }
    }

    md-list{
      width: 100%;
      margin:0 auto;

      md-list-item{
        width: 100%;
        margin-bottom:30px;

        &.error{
          margin-bottom: 10px;
          font-size: 16px;

          md-icon{
            color: mat-color($tuxlab-app-warn);
            margin-right: 6px;
          }
        }

        md-input-container{
          width: 80%;
          font-size: 22px;

          margin: 0 auto;

          span[mdPrefix]{
            font-size: 14px;
            line-height: 22px;

            margin-right: 15px;
          }
        }
      }
    }
  }
}
