.tuxlab-privacy, .tuxlab-terms {
	width:100%;
	max-width:$tuxlab-max-width;
	margin:0 auto;
	
	md-card {
		padding: 20px;
		margin-top: 100px;
		margin-bottom: 30px;
		h1 {
			padding: 10px;
			text-align: center;
		}
		p {
			padding: 5px;
		}
		h3 {
			padding: 15px;
		}
	}
}
