ul {
  list-style: none !important;
  padding: 10px !important;
  background-color: #fff !important;
}

h1{
  font-weight: 300 !important;
  margin: 0px !important;
}

h3{
  font-size: 16px;
  font-weight: 400 !important;
  margin: 0px !important;
}

h4{
  font-size: 16px;
  font-weight: 300 !important;
  margin: 0px !important;
}

h5{
  font-size: 14px;
  font-weight: 700 !important;
  margin: 0px !important;
}
