div.admin-view{
  width: 100%;
  max-width: 1100px;

  margin: 30px auto;
  padding: 45px;

  background-color: #fff;
  box-shadow:
   0 -1px 1px rgba(0,0,0,0.15),
   0 -10px 0 -5px #eee,
   0 -10px 1px -4px rgba(0,0,0,0.15),
   0 -20px 0 -10px #eee,
   0 -20px 1px -9px rgba(0,0,0,0.15);
}

h1 {
  font-weight: 300;
}
