* {
  margin: 0px;
}

html, body {
  height:100%;
  margin:0px;
  background-color:#e5e6e6;
  font-family: 'Open Sans', sans-serif;
}

/* Page Wrap */
tuxlab{
  min-height: 100%;
  margin-bottom: -50px;

  &:after{
    height: 50px;
    content:"";
    display:block;
  }

  .tux-content{
    width: 100%;
    margin: 0 auto;
    max-width: 1260px;
    margin-top: 60px;
  }
}

/* Footer */
footer{
  height:50px;
  background-color:#2c3e50;

  .wrapper{
    width: 100%;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    color: #e0e0e0;
    a {
      float: right;
      text-decoration: none;
      line-height: 50px;
      color: #e0e0e0;
      padding-left: 15px;
      padding-right: 15px;
    }
    a:hover {
      color: #ffffff;
    }
    p {
      line-height: 50px;
      float: left;
    }
  }
}
