/**
  Body Themes for TuxLab
**/

// Sizing
$tuxlab-max-width: 1260px;
$tuxlab-footer-height: 50px;

* {
  margin: 0px;
}

html, body {
  height:100%;
  margin:0px;
  background-color:#e5e6e6;
  font-family: 'Open Sans', sans-serif;
}

.set-max-width {
  width: 100%;
  margin: 0 auto;
  max-width: $tuxlab-max-width;
}

// Page Wrap
tuxlab{
  min-height: 100%;
  margin-bottom: -$tuxlab-footer-height;

  &:after{
    height: $tuxlab-footer-height;
    content:"";
    display:block;
  }
}

.page-content {
	overflow-x: hidden;
}


/* Footer */
footer{
  height:$tuxlab-footer-height;
  background-color:#2c3e50;

  .wrapper{
    width: 100%;
    max-width: $tuxlab-max-width;
    margin-left: auto;
    margin-right: auto;
    color: #e0e0e0;
    a {
      float: right;
      color: #e0e0e0;
			display: block;
			margin: 0;
			line-height: $tuxlab-footer-height;
			height: $tuxlab-footer-height;
    }
    a:hover {
      color: #ffffff;
    }
    p {
      line-height: $tuxlab-footer-height;
      float: left;
      padding-left: 15px;
    }
  }
}
