.tuxlab-explore {
	width:100%;
	max-width:$tuxlab-max-width;
	margin:0 auto;

	md-tab-group {
		background-color: white;
		margin: 30px;
		.md-active.md-tab-label {
			background-color: #ffd54f;
		}
		md-ink-bar {
			background-color: white;
		}
	}
	.md-tab-header {
		background-color: #ffc400;
	}

	#search-view {
		display: none;
	}
}


// Searchbar
.search-toolbar{
	margin-bottom: 30px;
	md-toolbar{
		min-height:inherit;
		background-color: white;
		.search-toolbar-nav {
			height: 100%;
			width: 100%;
			.wrapper{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				width:100%;
				height: 100%;
				max-width:$tuxlab-max-width;
				margin: 0 auto;
				.icon {
					cursor: pointer;
					margin-left: 20px;
				}
				.icon:hover {
					background-color: #efefef;
				}

				.tuxicon:before {
					font-size: 48px;
				}
				md-icon {
					margin-right: 20px;
					color: dimgrey;
					line-height: 50px;
				}
				div{
					height: 100%;
				}
				.searchbar {
					width: 100%;
					height: 100%;
					form {
						height: 100%;
						input {
							width: 100%;
							height: 100%;
							background-color: white;
							border: 0;
							transition: 500ms;
							padding-top: 0;
							padding-bottom: 0;
							padding-left: 20px;
							margin-right: 10px;
						}
						input:focus {
							background-color: #efefef;
							transition: 500ms;
							outline: none;
						}
					}
				}
			}
		}
	}
}

.tuxlab-searchview {
	.course-search-list {
		background-color: white;
		padding: 40px;
		margin-bottom: 40px;

		h2 {
			color: #999999;
		}

		.selector {
			text-align: right;
			color: #999999;
			button {
				color: #999999;
			}
			md-icon {
				line-height: 16px;
			}
			.tuxicon:before {
				font-size: 36px;
			}
		}

	}
	md-data-table {
		tbody {
			td {
				a {
					color: black;
				}
			}
		}
	}
}

.tuxlab-exploreview {
	md-content {
		h1 {
			padding: 10px;
		}
		p {
			padding: 10px;
			text-indent: 1em;
		}
		.course-link {
			text-align: right;
			a {
				color: black;
				align-self: right;
			}	
		}
		
	}
}