<div id="tuxlab">
  <md-sidenav-container>

    <!-- Sidenav Container -->
    <md-sidenav #sidenav mode="side">
      <md-toolbar>
        <img class="logo" src="assets/logo/v1.head.png" />
        <span class="center-text">TuxLab | CMU</span>
        <button md-icon-button (click)="sidenav.toggle()" hide-lg><md-icon>menu</md-icon></button>
      </md-toolbar>

      <!-- Profile Region -->
      <div class="profile">
        <div *ngIf="user" class="inner">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b7/Dr._Subra_Suresh%2C_Ninth_President_of_Carnegie_Mellon_University%2C_July_2013.jpg" />
          <div class="username">Subra Suresh</div>
          <div class="org">Carnegie Mellon</div>
          <div class="buttons">
            <a md-raised-button><md-icon>person</md-icon>Account</a>
            <a md-raised-button (click)="accountService.logout()" ><md-icon>vpn_key</md-icon>Log Out</a>
          </div>
        </div>

        <div *ngIf="!user" class="inner">
          <md-icon class="login_icon">account_circle</md-icon>
          <div class="org">Carnegie Mellon</div>
          <div class="buttons">
            <a md-raised-button [routerLink]="['login']"><md-icon>person</md-icon>Login</a>
          </div>
        </div>
      </div>

      <!-- Sidenav Menu -->
      <md-list class="sidenav_menu">
        <md-list-item><a md-button [routerLink]="['/dashboard']" routerLinkActive="active"><md-icon>home</md-icon>Dashboard</a></md-list-item>
        <md-list-item><a md-button [routerLink]="['/courses']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><md-icon>library_books</md-icon>My Courses</a></md-list-item>
        <md-list-item><a md-button [routerLink]="['/explore']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><md-icon>explore</md-icon>Explore Courses</a></md-list-item>
        <md-list-item><a md-button [routerLink]="['/admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><md-icon>build</md-icon>Administration</a></md-list-item>
      </md-list>
    </md-sidenav>

    <!-- Menu Bar -->
    <div id="navbar" *ngIf="!sidenav.opened">
      <md-toolbar>
        <button id="menubutton" (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
        <a [routerLink]="['/']" fxLayout fxLayoutAlign="center center">
            <img class="logo" src="assets/logo/v1.head.png" />
            <div>TuxLab | CMU</div>
        </a>
      </md-toolbar>
    </div>

    <!-- Content Container -->
    <div class="router-wrap">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="overlay">
        <div class="menu">
          <md-chip-list>
            <a [routerLink]="['/help']"><md-chip>Help</md-chip></a>
            <a [routerLink]="['/legal']"><md-chip>Legal</md-chip></a>
            <a href="http://tuxlab.org" ><md-chip>Website</md-chip></a>
            <a href="https://github.com/learnlinux"><md-chip>GitHub</md-chip></a>
            <a href="https://www.facebook.com/tuxlablinux/"><md-chip>Facebook</md-chip></a>
          </md-chip-list>
        </div><br>
        <label>Copyright &copy; 2017 Carnegie Mellon University. All Rights Reserved.</label>
      </div>
      <div class="background">
        <svg class="snow_hill" xmlns="http://www.w3.org/2000/svg" width="100%" height="300" viewBox="0 0 350 235" preserveAspectRatio="none">
          <path d="M0 235h350V59.024C116.373 75.394 224.07-53.64 0 26.404z"></path>
        </svg>
      </div>
    </div>

  </md-sidenav-container>

</div>
