<div class="tuxlab-dashboard">
  <!--Row of cards-->
  <div layout="column" layout-xl="row" class="cards">
    <div flex class="md-whiteframe-4dp card-red">
      <div class="card-title">
        <p>My Courses</p>
      </div>
      <md-content>
        <md-list>
          <a *ngFor="let course of courses" [routerLink]="['/course/']">
          <md-list-item class="course-link">
            <p>{{ course.course_name }}</p>
            <span>{{ course.course_number }}</span>
          </md-list-item>
          </a>
        </md-list>
        <div class="more-button">
          <button md-button>More</button>
        </div>
      </md-content>
    </div>
    
    <div flex class="md-whiteframe-4dp card-blue">
      <div class="card-title">
        <p>My Assignments</p>
      </div>
      <div class="card-content">
        <md-content>
          <md-list>
            <md-list-item *ngFor="let course of courses" >
              <p>{{ course.course_name }}</p>
              <span>{{ course.course_number }}</span>
            </md-list-item>
          </md-list>
          <div class="more-button">
            <button md-button>More</button>
          </div>
        </md-content>
      </div>
    </div>
    
    <div flex class="md-whiteframe-4dp card-dark-blue">
      <div class="card-title">
        <p>My Labs</p>
      </div>
      <div class="card-content">
        <md-content>
          <md-list>
            <md-list-item *ngFor="let grade of grades" >
              <p>{{ grade.name }}</p>
              <span>{{ grade.grade }}%</span>
            </md-list-item>
          </md-list>
          <div class="more-button">
            <button md-button>More</button>
          </div>
        </md-content>
      </div>
    </div>
    
    
  </div>
    

</div>