// Align text to center
.text-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Course Content */
.course-content {
	width: 100%;
	margin: 0 auto;
	max-width: 1260px;
	md-card {
		a {
			color: black;
		}
		p {
			text-indent: 20px;
		}
	}
}

.tuxlab-courseview {
	margin-bottom: 30px;
}