/* Theme file for Carnegie Mellon University */

// Colors
$primary-color: #AD102A;
$primary-color-dark: #960e24;

// Images
$university_logo : url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Carnegie_Mellon_wordmark.svg/2000px-Carnegie_Mellon_wordmark.svg.png");
$university_picture: url("http://engineering.cmu.edu/files/images/maker-wing/hamerschlag-large.jpg");
$err_image : url("http://i.imgur.com/qI1CIwp.gif");
