<div class="course_view" *ngIf="course | async" >

  <!-- Info -->
  <md-card class="info">

    <!-- Title Block -->
    <div class="title" fxLayout fxLayoutAlign="flex-start">
      <div class="left">
        {{ (course | async)?.course_number }}
      </div>

      <div class="right" fxLayout="column" fxLayoutAlign="center">
        <span class="course_name">{{ (course | async)?.course_name }}</span>
        <span class="instructors" *ngIf="(course | async)?.instructors.length !== 0" >
          Instructors:
          <span *ngFor="let instructor of (course | async)?.instructors">
            {{instructor.display_name}}
          </span>
        </span>
      </div>
    </div>

    <!-- Actions Block -->

  </md-card>

  <!-- Labs -->
  <section class="labs">
    <h2> Labs </h2>
    <div *ngIf="role >= Role.course_admin; then sortable; else nosortable">
    </div>
    <ng-template #sortable>
      <div [sortablejs]="labs | async" [sortablejsOptions]="sortableOptions">
        <div *ngFor="let lab of labs | async" [attr.labId]="lab._id">
          <tuxlab-course-view-lab [lab]="lab"></tuxlab-course-view-lab>
        </div>
      </div>
    </ng-template>
    <ng-template #nosortable>
        <div *ngFor="let lab of labs | async">
          <tuxlab-course-view-lab [lab]="lab"></tuxlab-course-view-lab>
        </div>
    <ng-template>
  </section>

  <!-- Add Lab -->
  <section class="add_lab" *ngIf="role >= Role.course_admin">
    <div fxLayout="row" fxLayoutAlign="center center" class="file_drop"
         (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragenter)="dragActive = true" (dragleave)="dragActive = false"
         [class.active]="dragActive">

      <md-icon>file_upload</md-icon>
      Upload Lab
    </div>
  </section>

</div>
