@import '../app.theme';

div.course_view{
  width: 100%;
  max-width: 960px;
  min-height: 900px;

  margin: 30px auto;
  padding: 45px;


   h2{
     font-weight: 300;
     font-size: 22px;
   }

   div.info {
     div.title{
       padding: 20px 0px 10px 0px;
       font-size: 21px;
       font-weight: 400;

      $left-size: 90px;
      div.left{
        width: $left-size;
        height: $left-size;

        color: #fff;
        line-height: $left-size;
        text-align: center;

        background-color: mat-color($tuxlab-app-primary);
        flex-shrink: 0;
      }

      div.right{
        margin-left: 15px;

        span.instructors{
          color: #555;
        }
      }
     }
   }

   div.labs{

   }

}
