<div class="course_list" fxLayout="column" fxLayoutAlign="flex-start center">

  <h1>{{ this.title }}</h1>

  <!-- No Courses Message -->
  <div *ngIf="!(courses | async)" class="message" fxLayout="column" fxLayoutAlign="center center">
    <div><span><md-icon class="emoji">mood_bad</md-icon></span></div>
    <div><h1> No Courses Found </h1></div>
  </div>

  <!-- Course List -->
  <md-grid-list cols="2" rowHeight="150px" gutterSize="15px">
    <md-grid-tile *ngFor="let course of courses | async">
      <md-card>
        <!-- Header Information -->
        <md-card-header>
          <md-card-title>{{ course.course_name }}</md-card-title>
          <md-card-subtitle></md-card-subtitle>
        </md-card-header>

        <!-- Action Buttons -->
        <md-card-actions>
          <a [routerLink]="['/courses', course._id ]" md-button>
            <md-icon>class</md-icon>
            View Course
          </a>
        </md-card-actions>
      </md-card>
    </md-grid-tile>
  </md-grid-list>

</div>
