<div class="course_view" *ngIf="course" >

  <!-- Info -->
  <md-card class="info">
    <div class="title" fxLayout fxLayoutAlign="flex-start">
      <div class="left">
        {{ course.course_number }}
      </div>

      <div class="right" fxLayout="column" fxLayoutAlign="center">
        <span class="course_name">{{ course.course_name }}</span>
        <span class="instructors" *ngIf="course.instructors.length !== 0" >
          Instructors:
          <span *ngFor="let instructor of course.instructors">
            {{instructor.display_name}}
          </span>
        </span>
      </div>
    </div>
  </md-card>

  <!-- Labs -->
  <section class="labs">
    <h2> Labs </h2>

    <md-card *ngFor="let lab of labs | async">
      <md-card-header>
        <md-card-title>{{ lab.name }}</md-card-title>
        <md-card-subtitle>{{ lab.description }}</md-card-subtitle>
      </md-card-header>
      <md-card-actions>
        <button md-button routerLink="/labs/{{lab._id}}">
          <md-icon>assignment</md-icon>
          Complete Lab
        </button>
      </md-card-actions>
    </md-card>

  </section>

</div>
