div.course_list{
  min-height: 80vh;

  .message{
    width: 100%;
    height: 60vh !important;

    .emoji{
      height: 180px;
      width: 180px;
      font-size: 180px !important;
    }
  }

  h1 {
    width: 100%;
    max-width: 960px;

    font-weight: 300;
    font-size: 36px;
  }

  md-grid-list{
    width: 100%;
    max-width: 960px;

    md-grid-tile{
      md-card{
        width: 100%;
        height: 80px;
      }
    }
  }
}
