@import '../app.theme';

md-card.edit-mode{
  border-color: mat-color($tuxlab-app-primary);
  box-shadow: 0 0 15px mat-color($tuxlab-app-primary);
}

md-card-header{
  width: 100%;

  .mat-card-header-text{
    width: 100%;
  }

  input,textarea{
    border: none;
    background-color: transparent;
    color: #000 !important;
  }

  textarea{
    resize: none;
  }

  md-card-title{
    width: 100%;

    input{
      font-size: 24px;
    }
  }

  md-card-subtitle{
    width: 100%;
    padding-bottom: 10px;

    textarea{
      font-size: 16px;
      font-family: inherit;
      width: 100%;
    }
  }
}

md-card-actions{
  padding-left: 25px;
}
