div.course_list{
  min-height: 80vh;

  h1 {
    width: 100%;
    max-width: 960px;

    font-weight: 300;
    font-size: 36px;
  }

  md-grid-list{
    width: 100%;
    max-width: 960px;

    md-grid-tile{
      md-card{
        width: 100%;
        height: 80px;
      }
    }
  }
}
