<div class="course_view" *ngIf="course | async" >

  <!-- Info -->
  <md-card class="info">

    <!-- Title Block -->
    <div class="title" fxLayout fxLayoutAlign="flex-start">
      <div class="left">
        {{ (course | async)?.course_number }}
      </div>

      <div class="right" fxLayout="column" fxLayoutAlign="center">

        <!-- Course Name -->
        <span class="course_name">{{ (course | async)?.course_name }}</span>

        <!-- Instructors -->
        <div class="instructors" *ngIf="(instructors | async)" >
          <md-chip-list>
            <md-chip *ngFor="let instructor of (instructors | async)" [class.instructor]="instructor.role === Role.instructor" [class.course-admin]="instructor.role === Role.course_admin">
              {{ instructor?.name }}
              <a md-icon-button *ngIf="role >= instructor.role" (click)="removeRole(instructor.id, instructor.role)"><md-icon>clear</md-icon></a>
            </md-chip>
          </md-chip-list>
        </div>
      </div>
    </div>

    <!-- Description Block -->

    <!-- Actions Block -->
    <div class="course_actions" fxLayout="row" *ngIf="role >= Role.course_admin">
      <div class="left"  fxLayout="row" fxLayoutAlign="start center">
        <div class="view">
          <span style="margin-right:5px;"><md-icon>{{ getIcon_content(course_model?.permissions?.content || (course | async).permissions.content) }}</md-icon></span>
          <md-select placeholder="View Permissions" [disabled]="!edit_mode" [ngModel]="(course | async)?.permissions.content" (ngModelChange)="course_model.permissions.content = $event">
             <md-option *ngFor="let content of content_options" [value]="content?.value">{{ content.name }}</md-option>
          </md-select>
        </div>
        <div class="enroll" style="margin-left: 5px;">
          <span style="margin-right:5px;"><md-icon>{{ getIcon_enroll(course_model?.permissions?.enroll || (course | async).permissions.enroll) }}</md-icon></span>
          <md-select placeholder="Enroll Permissions" [disabled]="!edit_mode" [ngModel]="(course | async)?.permissions.enroll" (ngModelChange)="course_model.permissions.enroll = $event">
             <md-option *ngFor="let enroll of enroll_options" [value]="enroll?.value">{{ enroll.name }}</md-option>
          </md-select>
        </div>
      </div>

      <div class="right" fxLayout="row" fxLayoutAlign="end center">
        <ng-container *ngIf="!edit_mode">
          <button md-button (click)="edit_mode=true">
            <md-icon>mode_edit</md-icon>
            Edit
          </button>
        </ng-container>
        <ng-container *ngIf="edit_mode">
          <button md-button (click)="addInstructor()">
            <md-icon>person_add</md-icon>
            Add Instructor
          </button>
          <button md-button (click)="updatePermissions()">
            <md-icon>save</md-icon>
            Save
          </button>
          <button md-button (click)="cancel()">
            <md-icon>clear</md-icon>
            Cancel
          </button>
        </ng-container>
      </div>
    </div>

  </md-card>

  <!-- Labs -->
  <section class="labs">
    <h2> Labs </h2>
    <div *ngIf="role >= Role.course_admin; then sortable; else nosortable">
    </div>
    <ng-template #sortable>
      <div [sortablejs]="labs | async" [sortablejsOptions]="sortableOptions">
        <div *ngFor="let lab of labs | async" [attr.labId]="lab._id">
          <tuxlab-course-view-lab [lab]="lab"></tuxlab-course-view-lab>
        </div>
      </div>
    </ng-template>
    <ng-template #nosortable>
        <div *ngFor="let lab of labs | async">
          <tuxlab-course-view-lab [lab]="lab"></tuxlab-course-view-lab>
        </div>
    <ng-template>
  </section>

  <!-- Add Lab -->
  <section class="add_lab" *ngIf="role >= Role.course_admin">
    <div fxLayout="row" fxLayoutAlign="center center" class="file_drop"
         (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragenter)="dragActive = true" (dragleave)="dragActive = false"
         [class.active]="dragActive">

      <md-icon>file_upload</md-icon>
      Upload Lab
    </div>
  </section>

</div>
