.tuxlab-labview {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .tuxlab-labview-terminal{
    height: 100vh;
    width: 50%;

    background-color:#000;

    terminal{
      display: block;
      position: relative;
      height: 100vh;
      width: 100%;

      .loading-menu{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2{
          color:#fff;
          margin-bottom:15px;
        }

        md-progress-circle,
        md-spinner {
          display: block;
        }
      }

      iframe{
        box-sizing: border-box;
        padding:10px;
      }
    }
    
  }
  
  @media screen and (max-width: 800px) {
    .tuxlab-labview-terminal {
      width: 100%;
    }
    .tuxlab-labview-step {
      display: none;
    }
  }

  /**
  Markdown
  **/
  .tuxlab-labview-step{
    width: 50%;
    md-sidenav-layout {
      height: 100vh;
      md-sidenav {
        width: 260px;
        padding: 0;
        a {
          color: black;
          display: block;
          width: 260px;
          height: 50px;
          margin: 0;
          line-height: 50px;
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          md-icon {
            float: right;
            color: #64dd17;
          }
          .tuxicon-tick:before {
            font-size: 36px
          }
          .tuxicon-progress:before {
            font-size: 36px;
          }
          md-icon.progress {
            color: #afafaf;
          }
        } 
      }
    }
    md-content {
      padding: 0;
      background-color: #e5e6e6;
    }
    md-sidenav-layout.md-sidenav-opened {
      width: 50%;
    }
    
    // Sub-toolbar
    .markdown-toolbar{
      md-toolbar{
        min-height:inherit;
        background-color: #e0e0e0;
        .wrapper{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;

          width:100%;
          max-width:1260px;
          margin: 0 auto;

          div{
            height: 100%;
          }
          
          .tuxicon-lines:before {
            font-size: 48px;
          }
          md-icon {
            line-height: 12px;
          }

          .markdown-task-name {
            font-size: 24px;
          }

          .markdown-toolbar-nav{
            [md-button]{
              font-weight: 300;
            }
            a.markdown-back-link {
              text-decoration: none;
              color: black;
              cursor: pointer;
            }
          }
        }
      }
    }
    
    
    .tuxlab-markdown {
      width: 100%;
      margin: 0 auto;
      max-width: $tuxlab-max-width;

      // Align text to center
      .text-center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      //Markdown Content
      .markdown-content {
        padding: 20px;
        background-color: #fcfcfc;
        text-align: right;
        #task-markdown {
          text-align: left;
          code {
            background-color: #dfdfdf;
            padding: 4px;
            border-radius: 2px;
          }
          h1, h2, h3 {
            margin-top: 18px;
          }
        }
        #task-editor {
          text-align: left;
        }
        a {
          cursor: pointer;
          md-icon {
            color: #666666;
            line-height: 0;
          }
          .tuxicon-edit:before {
            font-size: 36px;
          }
        }
      }
      #feedback-markdown {
        margin: 25px;
        background-color: #fcfcfc;
        border-radius: 5px;
        padding: 10px;
      }
    }
    
    // Check Button
    .markdown-check-button {
      text-align: right;
      vertical-align: middle;
      // Button Colour
      .md-raised {
        padding-left: 18px;
        font-weight: bold;
      }
      md-icon {
        vertical-align: top;
        line-height: 28px;
      }
      .tuxicon-tick:before {
        font-size: 36px;
      }
      .tuxicon-right:before {
        font-size: 36px;
      }
      .tuxicon-right {
        color: black;
      }
      .tuxicon-tick {
        color: #64dd17;
      }
    }
  }
}