// Align text to center
.text-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

// Sub-toolbar
.markdown-toolbar{
	md-toolbar{
		min-height:inherit;
		background-color: #f0f0f0;
		.wrapper{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;

			width:100%;
			max-width:1260px;
			margin: 0 auto;

			div{
				height: 100%;
			}
			
			.markdown-task-name {
				font-size: 24px;
			}

			.markdown-toolbar-nav{
				[md-button]{
					font-weight: 300;
				}
				a.markdown-back-link {
					text-decoration: none;
					color: black;
				}
			}
			

		}
	}
}

//Markdown Content
.markdown-content {
	padding: 40px;
	// Check Button
	.markdown-check-button {
		text-align: right;
		vertical-align: middle;
		// Button Colour
		.md-raised {
			padding-left: 18px;
			font-weight: bold;
		}
		md-icon {
			vertical-align: top;
			color: #64dd17;
		}
	}
}
