<div class="tuxlab-course-dashboard set-max-width">
  <!--Course Description Card-->
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" *ngIf="!editMeta">
          {{ courseName }}
          <md-icon fontIcon="tuxicon-cog" *ngIf="isInstruct()" (click)="toggleMetaEdit()"></md-icon>
        </span>
        <span class="md-headline" *ngIf="editMeta">
          <input type="text" [(ngModel)]="courseName" style="width: 100%">
        </span>

      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p [innerHTML]="courseDescription" *ngIf="!editMeta"></p>
      <textarea *ngIf="editMeta" [(ngModel)]="courseDescription" style="width: 100%; max-width: 100%; min-width: 100%; min-height: 200px;"></textarea>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      <a md-button href="https://www.cs.cmu.edu/~15131/f15/" *ngIf="!editMeta">
        Course Website
      </a>
      <button md-button *ngIf="editMeta" (click)="updateMeta()">
        Update
      </button>
    </md-card-actions>
  </md-card>

  <!-- Responsive Section for Grades and Assignments -->
  <div layout="row" layout-xs="column" *ngIf="!isInstruct()">
    <!-- Grade List -->
    <div flex>
      <tuxlab-gradelist></tuxlab-gradelist>
    </div>
    <!-- Announcements -->
    <div flex>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Announcements</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-data-table layout-fill>
            <thead>
              <tr>
                <th class="md-text-cell">Announcement</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="md-text-cell">Course Begins</td>
                <td>Sept. 1st</td>
              </tr>
              <tr>
                <td class="md-text-cell">Midterm Exam</td>
                <td>Oct. 25th</td>
              </tr>
              <tr>
                <td class="md-text-cell">Final Exam</td>
                <td>Dec. 19th</td>
              </tr>
            </tbody>
          </md-data-table>
        </md-card-content>
      </md-card>
    </div>
  </div>

  <!-- Permissions Section -->
  <div layout="row" *ngIf="isInstruct()" layout-xs="column">
    <div flex>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Permissions</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Meta: <span>(show course on Explore page)</span></p>
          <div class="radio-group">
            selected value: {{ radioMeta }}
            <br>
            <input type="radio" name="meta" id="radio-meta1" [(ngModel)]="radioMeta" [value]="true">
            <label for="radio-meta1"><span></span>True</label>
            <input type="radio" name="meta" id="radio-meta2" [(ngModel)]="radioMeta" [value]="false">
            <label for="radio-meta2"><span></span>False</label>
          </div>
          <p>Content: <span>(labs available to)</span></p>
          <div class="radio-group">
            selected value: {{ radioContent }}
            <br>
            <input type="radio" name="content" id="radio-content1" [(ngModel)]="radioContent" value="any">
            <label for="radio-content1"><span></span>Any</label>
            <input type="radio" name="content" id="radio-content2" [(ngModel)]="radioContent" value="auth">
            <label for="radio-content2"><span></span>Auth</label>
            <input type="radio" name="content" id="radio-content3" [(ngModel)]="radioContent" value="none">
            <label for="radio-content3"><span></span>None</label>
          </div>

          <p>Enroll: <span>(who can enroll)</span></p>
          <div class="radio-group">
            selected value: {{ radioEnroll }}
            <br>
            <input type="radio" name="enroll" id="radio-enroll1" value="any" [(ngModel)]="radioEnroll">
            <label for="radio-enroll1"><span></span>Any</label>
            <input type="radio" name="enroll" id="radio-enroll2" value="none" [(ngModel)]="radioEnroll">
            <label for="radio-enroll2"><span></span>None</label>
          </div>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <p class="msg">{{ updateMessage }}</p>
          <a md-button (click)="updatePerm()">Submit</a>
        </md-card-actions>
      </md-card>
    </div>
    <div flex>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Syllabus</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div *ngIf="editSyllabus">
            <tuxlab-mdeditor [mdData]="courseSyllabus" (mdUpdated)="mdUpdate($event)"></tuxlab-mdeditor>
          </div>
          <div *ngIf="!editSyllabus" [innerHTML]="convert(courseSyllabus)"></div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <a md-button (click)="updateSyllabus()" *ngIf="editSyllabus">Submit</a>
          <a md-button *ngIf="!editSyllabus" (click)="toggleSyllabusEdit()">Edit</a>
        </md-card-actions>
      </md-card>
    </div>
  </div>

  <!--Lab List Card-->
  <div>
    <tuxlab-lablist></tuxlab-lablist>
  </div>
</div>
