<div class="tuxlab-taskview">
  
  <!--Markdown View-->
  <div class="tuxlab-taskview-step">
  
    <md-sidenav-layout>
      <md-sidenav #left [opened]="false" layout-padding>
        <a md-button [routerLink]="['/course' + courseId]">Course Page</a>
        <a md-button (click)="alert.show()">LabVM Connection</a>
        <a md-button *ngFor="let task of tasks" (click)="toTask(task)">
          {{ task.name }}
          <md-icon fontIcon="tuxicon-tick" *ngIf="task.completed == true"></md-icon>
          <md-icon fontIcon="tuxicon-progress" *ngIf="task.id == currentTask" class="progress"></md-icon>
        </a>
      </md-sidenav>
      
      <md-content layout-padding>
        
        
        <md-dialog #alert>
          <md-dialog-title>LabVM Connection</md-dialog-title>
          You are currently connected.
          <md-dialog-actions ok="Got It"></md-dialog-actions>
        </md-dialog>
        
        
        <!-- Title Bar -->
        <div class="markdown-toolbar">
          <md-toolbar>
            <div class="wrapper">
              <!-- Navigation -->
              <div class="markdown-toolbar-nav">
                <a class="markdown-back-link" (click)="left.toggle()">
                  <md-icon fontIcon="tuxicon-lines"></md-icon>
                </a>
              </div>
              <p class="text-center markdown-task-name">{{ taskName }}</p>
              <div>
                <p>{{ labProgress }}</p>
              </div>
            </div>
          </md-toolbar>
        </div>
    
        <tuxlab-markdown [mdData]="labMarkdown">Task markdown loading...</tuxlab-markdown>
        <div class="markdown-check-button">
          <button md-raised-button (click)="verify()" *ngIf="!currentCompleted">
            Check
            <md-icon fontIcon="tuxicon-tick"></md-icon>
          </button>
          <button md-raised-button (click)="nextTask()" *ngIf="nextButton">
            Next
            <md-icon fontIcon="tuxicon-right"></md-icon>
          </button>
        </div>
    
          
      </md-content>
    </md-sidenav-layout>
     
  </div>
  
  <!--Terminal View-->
  <div class="tuxlab-taskview-terminal">
		<terminal></terminal>
  </div>
  
</div>
