.settings-card{
  width: 100%;
}
.usr-profile{
  display: block;
  
  height: 150px;
  width: 70%;
  
  margin-left: 15%;
  margin-top: 5%;  
}

.usr-pic{
  display: block;
  
  width: 25%;
  border-radius: 50%;

}

.usr-info{
  display: block;
  height: 125px;
  width: 70%;
} 
