.tuxlab-account {
  margin-top: 20px;
  md-card-content {
    .account-profile-picture {
      padding: 15px;
      float: left;
      text-align: center;
      position: relative;
      img {
        height: 156px;
        width: 156px;
        border-radius: 50%;
      }
    }
    .account-display-name {
      float: left;
      margin-left: 15px;
      h2 {
        padding-top: 60px;
      }
      width: 400px;
      position: relative;
    }
  }
  .personal-info {
    md-card-content {
      padding: 30px;
      h2 {
        margin-bottom: 30px;
      }
      .account-item {
        line-height: 50px;
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        a {
          cursor: pointer;
        }
        .account-label {
          font-weight: 500;
        }
        .account-info {
          color: #999999;
        }
        md-icon {
          line-height: 10px;
          color: #999999;
          margin-right: 10px;
        }
        .tuxicon:before {
          font-size: 48px;
        }
      }
    }
  }
}
