<div class="tuxlab-exploreview">
	<!--Tab Groups-->
	<md-tab-group class="md-whiteframe-5dp" *ngFor="let course of courses">
		<!--First Tab-->
		<md-tab>
			<template md-tab-label>Description</template>
			<template md-tab-content>
				<md-content class="md-padding">
					<h2>{{ course.course_name }}</h2>
					<p>
						{{ course.course_description }}
					</p>
				</md-content>
			</template>
		</md-tab>
		<!--Second Tab-->
		<md-tab>
			<template md-tab-label>Instructor</template>
			<template md-tab-content>
				<md-content class="md-padding">
					<h2>Instructor</h2>
					<p>
						{{ course.instructor_name }}
					</p>
				</md-content>
			</template>
		</md-tab>
		<!--Third Tab-->
		<md-tab>
			<template md-tab-label>Course Number</template>
			<template md-tab-content>
				<md-content class="md-padding">
					<h2>Course Number</h2>
					<p>
						{{ course.course_number }}
					</p>
				</md-content>
			</template>
		</md-tab>
	</md-tab-group>
	
</div>
