<!-- Lab Component -->
<div class="tuxlab-lab-view" fxLayout fxLayoutAlign="center flex-start" *ngIf="session; else loading">

  <!-- Markdown Component -->
  <div>

    <!-- Toolbar -->
    <md-toolbar>
      <button md-icon-button (click)="prevTask()"><md-icon>arrow_back</md-icon></button>

      <span class="center-text">
        <span class="number">{{ task_index + 1 }}</span>
        {{ (lab | async)?.tasks[task_index]?.name }}
      </span>

        <button *ngIf="this.task_index < this.session.current_task" md-icon-button (click)="nextTask()" ><md-icon>arrow_forward</md-icon></button>
        <button *ngIf="this.task_index >= this.session.current_task" md-icon-button (click)="checkTask()"><md-icon>check</md-icon></button>

    </md-toolbar>

    <!-- Content -->
    <div class="task_content" *ngIf="session?.tasks?.length > task_index && (lab | async)?.tasks[task_index]">
      <!-- Task Instructions -->
      <markdown [data]="(lab | async)?.tasks[task_index]?.md"></markdown>

      <!-- Feedback -->
      <markdown [data]="session?.tasks[task_index]?.feedback"></markdown>
    </div>

  </div>

  <!-- Terminal Component -->
  <div>
    <md-toolbar>

      <md-select placeholder="Machine" *ngIf="session?.containers?.length > 1" [(ngModel)]="container_index">
         <md-option *ngFor="let container of session?.containers; let i = index" [value]="i">{{ (container)?.name ? container.name : i + 1 }}</md-option>
      </md-select>
      <span *ngIf="session?.containers?.length == 1">
        {{ session?.containers[0]?.name ? session.containers[0].name : LabVM }}
      </span>

      <span class="spacer"></span>

      <button md-icon-button (click)="connectionDetails()"><md-icon>dns</md-icon></button>
      <button md-icon-button (click)="refresh()"><md-icon>refresh</md-icon></button>
    </md-toolbar>

    <tuxlab-terminal [container]="session?.containers[container_index]"></tuxlab-terminal>
  </div>
</div>

<!-- Loading Spinner -->
<ng-template #loading>
  <div class="loading" fxLayout="column" fxLayoutAlign="center center">
    <div><h2> {{ (lab | async)?.name }} </h2></div>
    <md-progress-spinner color="primary" mode="indeterminate"></md-progress-spinner>
  </div>
</ng-template>
