.tuxlab-dashboard {
  width:100%;
  max-width:$tuxlab-max-width;
  margin:0 auto;

  a {
    color: black;
  }

  .content-centralize {
    margin-left: auto;
    margin-right: auto;
  }

  .cards {
    padding: 10px;
    @mixin card($colour) {
      margin: 10px;
      height: 100%;
      background-color: white;
      .card-title {
        font-weight: 300;
        font-size: 30px;
        padding: 15px;
        background-color: $colour;
        color: #fbfbfb;
      }
      .card-content {
        md-content {
          background-color: white;
        }
      }
      md-content {
        background-color: white;
        md-list {
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
        
      .course-link {
        cursor: pointer;
      }
      .course-link:hover {
        background-color: #efefef;
      }
      .more-button {
        text-align: right;
        height: 100%;
        width: 100%;
      }
    }
    .card-blue {
      @include card(#3498db);
    }
    .card-dark-blue {
      @include card(#2c3e50);
    }
    .card-red {
      @include card(#e74c3c);
    }
  }
}
