.tuxlab-dashboard {
  width:100%;
  max-width:$tuxlab-max-width;
  margin:0 auto;

  a {
    color: black;
  }

  .content-centralize {
    margin-left: auto;
    margin-right: auto;
  }

  .cards {
    padding: 10px;
    @mixin card($colour) {
      margin: 10px;
      height: 100%;
      background-color: white;
      .card-title {
        font-weight: 300;
        font-size: 30px;
        padding: 15px;
        background-color: $colour;
        color: #fbfbfb;
      }
      .card-content {
        md-content {
          background-color: white;
        }
      }
      md-content {
        background-color: white;
        md-list {
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
        
      .course-link {
        cursor: pointer;
      }
      .course-link:hover {
        background-color: #efefef;
      }
      .more-button {
        text-align: right;
        height: 100%;
        width: 100%;
      }
    }
    .card-blue {
      @include card(#3498db);
    }
    .card-dark-blue {
      @include card(#2c3e50);
    }
    .card-red {
      @include card(#e74c3c);
    }
  }
}

.tuxlab-dashboard-nonuser {
  .login-section {
    background-image: $university-splash-image;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    height: 55vh;
    padding-top: 15vh;
    .login-wrapper {
      max-width: $tuxlab-max-width;
      margin: 0 auto;
      .login-card {
        width: 500px;
        margin:0;
        h1 {
          color: #e5e5e6;
          font-family: "Open Sans";
          font-weight: 300;
          font-size: 46px;
          text-align: center;
        }
        md-card {
          margin: 0;
          background-color: rgba(255, 255, 255, 0.6);
          md-card-content {
            margin: 0;
            padding: 0;
          }
        }
        .tuxlab-login {
          height: 250px;
        }
      }
    }
  }
  .section-text {
    h1 {
      color: #444444;
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 46px;
      padding: 15px;
    }
    p {
      a:link, a:visited {
        text-decoration: none;
        color: #444444;
        font-weight: 600;
      }
      a:hover {
        color: #222222;
      }
    }
  }
  .about-section {
    background-color: white;
    padding: 15px;
    @extend .section-text;
  }
  .courses-section {
    padding: 15px;
    @extend .section-text;
  }
}