<div class="tuxlab-dashboard">

  <h1> Welcome to TuxLab! </h1>

  <div class="featured_courses">
    <h2> Featured Courses </h2>
    <tuxlab-course-list type="featured_courses"></tuxlab-course-list>
  </div>


  <div class="split_courses" fxLayout="row">
    <div fxFlex="1 0 auto">
      <h2> My Sessions </h2>

      <tuxlab-session-list></tuxlab-session-list>
    </div>
    <div fxFlex="1 0 auto">
      <h2> My Courses </h2>

      <tuxlab-course-list type="my_courses"></tuxlab-course-list>
    </div>
  </div>

</div>
