<div class="tuxlab-login">
  <div class="page">
    <h1> Login </h1>

     <form #f="ngForm" (ngSubmit)="login(f.value)">
       <md-list>

         <!-- Email -->
         <md-list-item>
           <md-input-container>
             <input mdInput ngModel name="username" type="text" placeholder="Login">
             <span mdPrefix> <md-icon>person</md-icon></span>
           </md-input-container>
         </md-list-item>

         <!-- Password -->
         <md-list-item>
           <md-input-container>
             <input mdInput ngModel name="password" type="password" placeholder="Password">
             <span mdPrefix> <md-icon>lock</md-icon></span>
           </md-input-container>
         </md-list-item>

         <!-- Login Button -->
         <md-list-item fxLayout fxLayoutAlign="center">
           <button md-raised-button><md-icon>vpn_key</md-icon>Forgot Password</button>
           <button md-raised-button><md-icon>check</md-icon>Login</button>
         </md-list-item>

         <md-list-item class="error" fxLayout fxLayoutAlign="center">
           <span *ngIf="this.error"> <md-icon>clear</md-icon> </span>
           <span [innerHTML]="this.errorText" *ngIf="this.error"></span>
         </md-list-item>

       </md-list>
     </form>

     <!-- Divider -->
     <md-divider></md-divider>

     <!-- 3rd Party Logins -->
     <h2> Organization Login <h2>
     <div fxLayout fxLayoutAlign="center">
       <button md-raised-button *ngIf="google" (click)="LoginWithGoogle()"><md-icon>account_balance</md-icon>Google Login</button>
     </div>

  </div>
</div>
