<div class="tuxlab-reset">
  <div class="page">

    <h1>Reset Password</h1>

    <md-list>
      <md-list-item>
        <md-input-container>
          <input mdInput type="password" placeholder="Old Password" />
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <md-input-container>
          <input mdInput type="password" placeholder="New Password" />
        </md-input-container>
      </md-list-item>

      <md-list-item>
        <md-input-container>
          <input mdInput type="password" placeholder="New Password (Confirm)" />
        </md-input-container>
      </md-list-item>
    </md-list>

    <md-divider></md-divider>

    <button md-raised-button><md-icon>settings_backup_restore</md-icon>Reset Password</button>

  </div>
</div>
